@model Entities.JOBS
@{
    ViewBag.Title = "Insert";
}

<h2>Insert</h2>

@using (Html.BeginForm("Insert", "Jobs", FormMethod.Post))
{
    <div>Job ID: @Html.TextBoxFor(r => r.ID, new { required = "required" })</div>
    <div>Job name: @Html.TextBoxFor(r => r.JOB_NAME, new { required = "required" })</div>
    <input type="submit" name="Save" value="Save" />
}
