<!-- Footer-->
<footer class="footer text-center">
    <div class="container">
        <div class="row">
            <!-- Footer Section 1-->
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4">FIN</h4>
                <p class="lead mb-0">
                    Bueno acá iría
                    <br />
                    el footer si tuviese tiempo y sentido
                </p>
            </div>
            <!-- Footer Section 2-->
            <div class="col-lg-4 mb-5 mb-lg-0">
        <h4 class="text-uppercase mb-4">FIN 2</h4>
         <p class="lead mb-0">
            Bueno acá iría
            <br />
            el footer si tuviese tiempo y sentido
        </p>
    </div>
            <!-- Footer Section 3-->
            <div class="col-lg-4">
                <h4 class="text-uppercase mb-4">FIN 3</h4>
                <p class="lead mb-0">
                    Bueno acá iría
                    <br />
                    el footer si tuviese tiempo y sentido
                </p>
            </div>
        </div>
    </div>
</footer>
