@model Entities.LOCATIONS
@{
    ViewBag.Title = "Insert";
}

<h2>Insert</h2>

@using (Html.BeginForm("Insert", "Locations", FormMethod.Post))
{
    <div>City: @Html.TextBoxFor(r => r.CITY, new { required = "required" })</div>
    <input type="submit" name="Save" value="Save" />
}
